*{
	font-family: "courier new", monospace;
	font-size: 20px;
	color: red;
}
h1{
	color: yellow !important;
}
h2{		
	color: blue;
	}
/*p{
	background-color: blue;
	color: white;*/

#zuitt-motto{
	letter-spacing: 5px;
}
.offering-item{
	text-transform: uppercase;
}
#offering-1{
	color: black;
}
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;

}
h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*div + p{
	background-color: blue;
}*/

/*general sibling selector(~)*/

/*div ~ p{
	background-color: yellow;
}
*/
/*div	> p{
	background-color: yellow;
}*/
div p{
	background-color: yellow;
}